{% extends 'base.html.twig' %}

{% block titre_page %}Emprunts{% endblock %}
{% block content %}
    <h1 style="color: #3F51B5">Site des emprunts</h1>
    <p><strong>Rends ce que t'as emprunté et récupère toujours ce que tu prêtes : empruntes (ou prêtes) ici !</strong></p>
    <hr>
{% endblock %}
