h1 {
    font-size: 70px;
    color : #9F7DE1;
}

h2 {
    font-size: 60px;
}

.m-sub {
    color: #9F7DE1;
}

.my-borrow-card {
    width: 50%;
    height: 250px;
    margin: auto;
    border: solid 5px;
}

.my-anchor-card {
    color: #D3BCFF;
    border: solid 5px;
    border-radius: 10px 10px 0px 0px;
}

.my-anchor-card-header {
    background-color: #D3BCFF;
}

.carousel-control.right{
    background: #9F7DE100;
}

.carousel-control.right:hover{
    background: #9F7DE100;
}

.carousel-control.left{
    background: #9F7DE100;
}

.carousel-control.left:hover{
    background: #9F7DE100;
}

#m-section-titre {
    padding: 10%;
    height: 300px;
    text-align: right;
    background-image: url("https://cdn.radiofrance.fr/s3/cruiser-production/2020/10/62976369-dba8-4aea-b7da-b7f8a7b88ddd/1200x680_23_10_20_loutre_alan_tunnicliffe_photography_gettyimages-1058052742.jpg");/*url("https://t2.ev.ltmcdn.com/fr/posts/4/6/0/peut_on_avoir_une_loutre_comme_animal_de_compagnie_64_orig.jpg");*/
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

#m-section-titre h2 {
    color: white;
}

#m-section-dashboard {
    margin-top: 3%;
}

#m-section-emprunts {
    padding-bottom: 3%;
    width: 100%;
    background-color: #9F7DE1;
    box-shadow: 10px 10px 5px #9F7DE166;
}

#m-section-emprunts h1 {
    margin: 3%;
}

#carouselEmpruntsControls {
    margin-top: 50px;
}

#m-section-emprunts h1 {
    color: white;
}